* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', HelveticaNeue, Helvetica, FreeSans, Arial,
    sansserif;
  &::-webkit-scrollbar-thumb  {
    background-color: #7d7d7d;
    border-radius: 3px;
  }

  &::-webkit-scrollbar  {
    width: 6px;
    background-color: #f1f1f1;
  }
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html,
body {
  min-height: 100%;
}
#app {
  min-height: 100%;
}
.markdown-body {
  box-sizing: border-box;
  min-width: 200px;
  max-width: 980px;
  margin: 0 auto;
  padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}
